---
layout: default
title: VSD Motor Drive Specialist Roadmap
---

{% for section in site.data.roadmap %}
<section class="section-card">
    <h2 class="section-title">{{ section.title }}</h2>

    {% for module in section.modules %}
    <div class="module">
        <h3>{{ module.title }}</h3>
        <ul>
            {% for topic in module.topics %}
            <li>
                <input type="checkbox" id="{{ topic.id }}">
                <a href="#" class="content-trigger" data-content-path="{{ topic.path | relative_url }}">{{ topic.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</section>
{% endfor %}